@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundario: #C0C0C0;
    --cor-textos: #F9F9F9;
    --cor-botao: #167BF7;
    --cor-botao-hover: #EC2F46;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao {
    text-decoration: none;
    background-color: var(--cor-botao);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--cor-botao-hover);
}

.container__botao:active {
    background-color: var(--cor-fundo);
    color: var(--cor-secundario);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__aviso {
    color: var(--cor-secundario);
    font-size: 12px;
    font-weight: 400;    
}

.secundario {
    align-items: center;
    margin: 0  10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-textos);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--cor-principal);
}

.dispositivos__lista {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.lista__links a{
    text-decoration: none;
    color: var(--cor-principal);
    margin-left: 1em;
}

.lista__links a:hover{
    color: var(--cor-botao-hover);
}

.lista__links a:active{
    color: var(--cor-principal);
    background-color: var(--cor-botao);
}

.rodape__textos {
    color: var(--cor-secundario);
    margin: 2em 0;
    font-size: 14px;
    font-weight: 400; 
}
